<div id="picture-container">

</div>

<div id="habit-container">
	<div>
		<h1>Your Budding Habits</h1>
		<p id="quote"></p>
	</div>
		<hr>
		<% @habits.each do |habit|  %>
	<div class="habit-each">
			<h2 class="habit-name"><%= habit.habit_name %></h2>
			<ul>
				<li>consecutive counter : <span class="counter consecutive-counter"><%= habit.consecutive_counter %></span></li>
				<li>total counter : <span class="counter total-counter"><%= habit.total_counter %></span></li>
			</ul>
			<a href="/habits/<%= habit.id %>/done" id="done">done!</a>
			<a href="/habits/<%= habit.id %>/edit" id="edit">edit</a>
			<a href="/habits/<%= habit.id %>/delete" class="delete">delete</a>

	</div>
		<% end %>
</div>

<hr>

<div class="habit-create">
	<%= erb :'habits/new' %>
</div>


<script type="text/template" id="habit-template" class="hide">
	<h2><@= habit_name @></h2>
		<ul>
			<li>consecutive counter : <span class="consecutive-counter"><@= consecutive_counter @></span></li>
			<li>total counter : <span class="total-counter"><@= total_counter @></span></li>
		</ul>
	<a href="/habits/<@= id @>/done">done!</a>
	<a href="/habits/<@= id @>/edit">edit</a>
	<a href="/habits/<@= id @>/delete" class="delete">delete</a>
</script>

<!-- script for creating a habit -->
<script type="text/template" id="pic-template" class="hide">
	<h5>Hey Dawg,</h5>
	
	<h5>Good job deciding to <@= habit_name @></h5>	
</script>
