<div id="habit-container">
		<% @habits.each do |habit|  %>
	<div class="habit-each">
			<h2><%= habit.habit_name %></h2>
			<ul>
				<li>consecutive counter : <%= habit.consecutive_counter %></li>
				<li>total counter : <%= habit.total_counter %></li>
			</ul>
			<a href="/habits/<%= habit.id %>/done">done!</a>
			<a href="/habits/<%= habit.id %>/edit">edit</a>
			<a href="/habits/<%= habit.id %>/delete" class="delete">delete</a>

	</div>
		<% end %>
</div>



<form id="create-habit" action="/habits" method="post">
	<input name="habit[habit_name]" placeholder="enter a habit">
	<input type="submit">
</form>

<!-- <div id="habit-template">
	<div class="habit-div">
		<h2>Habit Name</h2>
			<ul>
				<li>consecutive counter :</li>
				<li>total counter : </li>
			</ul>
		<a href="/habits/id/done">done!</a>
		<a href="/habits/id/edit">edit</a>
		<a href="/habits/id/delete" class="delete">delete</a>
	</div>

</div> -->