<div id="habit-container">
		<% @habits.each do |habit|  %>
	<div class="habit-each">
			<h2><%= habit.habit_name %></h2>
			<ul>
				<li>consecutive counter : <span class="consecutive-counter"><%= habit.consecutive_counter %></span></li>
				<li>total counter : <span class="total-counter"><%= habit.total_counter %></span></li>
			</ul>
			<a href="/habits/<%= habit.id %>/done" id="done">done!</a>
			<a href="/habits/<%= habit.id %>/edit" id="edit">edit</a>
			<a href="/habits/<%= habit.id %>/delete" class="delete">delete</a>

	</div>
		<% end %>
</div>

<%= erb :'habits/new' %>

<div id="picture">
	<%= erb :pictures %>
</div>

<script type="text/template" id="habit-template" class="hide">
	<h2><@= habit_name @></h2>
		<ul>
			<li>consecutive counter : <span class="consecutive-counter"><@= consecutive_counter @></span></li>
			<li>total counter : <span class="total-counter"><@= total_counter @></span></li>
		</ul>
	<a href="/habits/<@= id @>/done">done!</a>
	<a href="/habits/<@= id @>/edit">edit</a>
	<a href="/habits/<@= id @>/delete" class="delete">delete</a>
</script>

